<?xml version="1.0" encoding="utf-8" ?>
<Configurations>
  <!--<add key="BaseTemplatePath" value="E:\Projects\VS\CtxPackage\CtxPackage\bin\Debug"/>-->
  <Settings>
    <add key="DefaultGeneratedFileExtension" value=".cs"/>
    <add key="DefaultTemplateFileName" value="Template.tt"/>
    <add key="SupportSyncInstruction" value="true"/>
  </Settings>
  <Templates>
    <add key=".cus.res" value="CustomResourceTemplate.tt"/>
    <add key=".res" value="ResourceTemplate.tt"/>
    <add key=".jsres" value="JSResourceTemplate.tt"/>
    <add key=".ioc" value="IoCTemplate.tt"/>
    <add key=".less" value="DotLessTemplate.tt"/>
  </Templates>
  <Extensions>
    <add key=".less" value=".css"/>
    <add key=".res" value=".cs"/>
    <add key=".jsres" value=".js"/>
  </Extensions>
</Configurations>

<!--the Template would have two parameters:
1. $inputDataFilename$
2. $namespace$-->